<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.8.3, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.8.3, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="Website Builder Description">
  <title>Login</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
    <section class="menu cid-r84uNvWoyf" once="menu" id="menu1-d">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-success display-5" href="/">
                            fastbuy.co</a></span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/customerlogin">
                            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                            Buyer หรือผู้ซื้อ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/supplierlogin"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
                            
                            Supplier หรือผู้ขาย
                        </a>
                    </li></ul>
                
            </div>
        </nav>
    </section>

<section class="engine"><a href="https://mobiri.se/a">online website builder</a></section><section class="mbr-section form1 cid-r87NPN690r" id="form1-f">

    

    
        <section class="header9 cid-r847h2HHxw mbr-fullscreen" id="header9-7">
  
                <div class="container">
            
                        <div class="row justify-content-center">
                                <div class="media-container-column col-lg-8" >
            
                        <h1 style="padding-bottom:20px;"><span class="fa fa-sign-in" ></span>Buyer Login</h1>
            
                        <!-- show any messages that come back with authentication -->
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger">
                                <%= message %>
                            </div>
                            <% } %>
            
                                <!-- LOGIN FORM -->
                                <div class="row row-sm-offset">
                                        <div class="col-md-8 multi-horizontal" data-for="name">
                                <form action="/customer" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" class="form-control" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
            
                                    <button type="submit" class="btn btn-warning btn-lg">Login</button>
                                </form>
                                        </div>
            
                                <hr>
            
                                <p style="padding-top: 20px">ยังไม่เป็นสมาชิก? <a href="/customersignup" style="color:orangered" >ลงทะเบียน</a></p>
                                <!-- <p>Or go <a href="/">home</a>.</p> -->
            
                    </div>
              </div>
                </div>
            </div>
                </section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>