<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.8.3, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.8.3, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="Web Builder Description">
  <title>Supplier List</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  


  
  
</head>
<body>
        <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-e">

                <% if (user_status == "loggined" ) {%>
        
            <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="menu-logo">
                    <div class="navbar-brand">
                        
                        <span class="navbar-caption-wrap"><a class="navbar-caption text-success display-5" href="/">
                                fastbuy.co</a></span>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">

                                <li class="nav-item">
                                        <a class="nav-link link text-white display-4" href="/supplierinbox">
                                            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                            Inbox
                                        </a>
                                    </li>
        

                        </ul>
                        
                    </div>
            </nav>
        <% }%>
        </section>
        <div class="col-md-12">

        <div class="sidenav1">
                <a href="#">Pending</a>
                <a href="#">Wait to confirm</a>
                <a href="#">Completed</a>
               
              </div>
              
      
            <div class="col-md-10">
                     
<div class="main1" style="width:100%">
      
        <div class="container" style="width:100%;padding-top: 100px ">
        <h1>Pending RFQ</h1>
        <table>
                <caption>Statement Summary</caption>
                <thead>
                  <tr>
                    <th scope="col">Account</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Period</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td data-label="Account">Visa - 3412</td>
                    <td data-label="Due Date">04/01/2016</td>
                    <td data-label="Amount">$1,190</td>
                    <td data-label="Period">03/01/2016 - 03/31/2016</td>
                  </tr>
                  <tr>
                    <td scope="row" data-label="Account">Visa - 6076</td>
                    <td data-label="Due Date">03/01/2016</td>
                    <td data-label="Amount">$2,443</td>
                    <td data-label="Period">02/01/2016 - 02/29/2016</td>
                  </tr>
                  <tr>
                    <td scope="row" data-label="Account">Corporate AMEX</td>
                    <td data-label="Due Date">03/01/2016</td>
                    <td data-label="Amount">$1,181</td>
                    <td data-label="Period">02/01/2016 - 02/29/2016</td>
                  </tr>
                  <tr>
                    <td scope="row" data-label="Acount">Visa - 3412</td>
                    <td data-label="Due Date">02/01/2016</td>
                    <td data-label="Amount">$842</td>
                    <td data-label="Period">01/01/2016 - 01/31/2016</td>
                  </tr>
                </tbody>
              </table>

<p>&larr; Drag window (in editor or full page view) to see the effect. &rarr;</p>

</div>
</div>

</div>
        <section class="cid-raqq2LH4NR" id="footer5-1n">

    

    
                <div class="main">
                <div class="container">
                    <div class="media-container-row">
                        <div class="col-md-3">
                            <div class="media-wrap">
                                <a href="https://mobirise.com/">
                                   <img src="/assets/images/mbr-192x192.jpg" alt="Mobirise" title="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <p class="mbr-text align-right links mbr-fonts-style display-7">
                                <a href="#" class="text-black">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" class="text-black">TERMS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" class="text-black">CAREERS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="#" class="text-black">CONTACT</a>
                            </p>
                        </div>
                    </div>
                    <div class="footer-lower">
                        <div class="media-container-row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                        <div class="media-container-row mbr-white">
                            <div class="col-md-6 copyright">
                                <p class="mbr-text mbr-fonts-style display-7">
                                    © Copyright 2018 fastbuy.co - All Rights Reserved
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="social-list align-right">
                                    <div class="soc-item">
                                        <a href="https://twitter.com/mobirise" target="_blank">
                                            <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                            <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                            <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://instagram.com/mobirise" target="_blank">
                                            <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                            <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://www.behance.net/Mobirise" target="_blank">
                                            <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
 



            <script src="/assets/web/assets/jquery/jquery.min.js"></script>
            <script src="/assets/popper/popper.min.js"></script>
            <script src="/assets/tether/tether.min.js"></script>
            <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="/assets/smoothscroll/smooth-scroll.js"></script>
            <script src="/assets/dropdown/js/script.min.js"></script>
            <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
            <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
            
            <script src="/assets/datatables/data-tables.bootstrap4.min.js"></script>
            <script src="/assets/theme/js/script.js"></script>
            <script src="/assets/formoid/formoid.min.js"></script>
            <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
          
            </body>
          </html>